#!/bin/bash

sudo yum makecache
sudo yum install -y docker
sudo yum install -y python-pip
sudo pip install docker-compose
sudo usermod -aG docker ec2-user
sudo systemctl enable docker
sudo systemctl start docker

sudo cat << EOF > /opt/docker-compose.yaml
  app:
    image: {{ groups['docker_registry'] | first }}:5000/application:latest
    restart: on-failure
    environment:
      - MYSQL_HOST=app.czcf0u2lss1h.us-west-1.rds.amazonaws.com
      - MYSQL_PORT=3306
      - MYSQL_PASSWORD=Temp1234
      - MYSQL_DATABASE=app
      - MYSQL_USER=app
    entrypoint:
      - java
      - -jar
      - /opt/spring-0.0.1-SNAPSHOT.jar
    ports:
      - 8080:8080
    working_dir: /opt
EOF

sudo cat << EOF > /etc/systemd/system/docker-compose.service
[Unit]
Description=Docker Compose container starter
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/opt
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/bin/docker-compose pull --quiet
ExecStart=/bin/docker-compose up -d

ExecStop=/bin/docker-compose down

ExecReload=/bin/docker-compose pull --quiet 
ExecReload=/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target
EOF

sudo cat << EOF > /etc/docker/daemon.json
{
  "insecure-registries" : ["{{ groups['docker_registry'] | first }}:5000"]
}
EOF

sudo systemctl enable docker-compose.service

#sudo docker pull maven:3 
#sudo docker pull openjdk:8u171
